body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    color: white;

    /* transition */
    opacity: 0; /* starts invisible */
    transition: opacity 1.5s ease-in;
}

body.fade-in {
    opacity: 1; /* fades to fully visible */
}

canvas {
    display: block; /* pointer events are enabled */
}


