body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    color: white;
}

#ascii {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
}


